p{
    font-family:'Didact Gothic', sans-serif ;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;
}
div.politik{
    margin-left: 500px;
    margin-right: 200px;
}