*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    transition: all 0.4s ease;/*Gecis efekti uygulamak icin transition ozelligine iki deger verilmesi gerekiyor.
    ease = Yavas bir baslangic, ardindan hizli, daha sonra yavas yavas sona eren gecis efekti belirtir.*/
}

:root{
    /* ===== acik arkaplan renkleri ===== */
    --body-color: #E4E9F7;
    --nav-color: #eeb303f1;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #0a0a0a;
    --search-text: #010718;
    
}
body{
    /*beyaz arkaplan ve Viewport Height (vh)vh ise ekran yuksekliginin 100/1'lik bir bolumune denk geliyor.*/
    height: 100vh;
    background-color: var(--text-color);
}

body.dark{
    /*siyah arkaplan renkleri */
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #eeb303f1;
    
}

nav{
    position: fixed;/*ozelligi olan bir oge left,top degerine gore goruntu alanina gore sabitlenir
     ve asagi ve yukari scroll yapildiginda pozisyonunu korur ve sabit bir sekilde kalmaya devam eder.*/
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;/*Atadigimiz yuzde degeri ne ise en yuksek o degerde tarayicida gozukur.
     Tarayici daraltildiginda atadigimiz yuzde degerini koruyarak daralir.*/
    background-color: var(--nav-color);
    z-index: 100;/*HTML nesnelerinin gorunme onceligini belirlemek icin kullanilmaktadir.*/
    /*acik arkaplanda menu pozisyonunu koruyacaktir.*/
}

nav ul{
    float: center;/*bir etiketin nasil yaslanmasi ve konumlanmasi gerektigini belirtir(menu etiketlerinin ortalanmasini sagladi)*/
}
nav ul li{
    display: inline-block;/*bir ogenin nasil goruntulenecegini belirleyebiliriz.Etiketler Uzerinde geniSlik ve yukseklik ayarlamaya izin verir*/
}
nav ul li a{
    position: fixed;
    height: 80px;
    z-index: 100;
    background-color: var(--nav-color);
    color: #E4E9F7;
    display: inline-block;
    padding: 0px;/*ozelligini icerigin etrafinda bosluk olusturmak icin kullaniriz.
     Bir HTML ogesinin her tarafina(sag, sol, ust, alt) padding ayarlayabiliriz.*/
    line-height: 70px;/*Yazi tipinin ne kadar kalin ya da ince gorunecegi belirlenir. */
    font-size: 30px;
    transition: 0.3s;
}
nav ul li a:hover{/*hover bileseni, bu ozelligi kazandirdigimiz form elemani, text ,
 image gibi site icerisinde bulunan nesnelerin uzerine fare imleci ile geldigimizde yapilacak islemlerin belirlendigi bolume verilen isimdir.*/
 color :#1a1a18;
}
nav ul li a.active{/*tiklanmis olan baglantinin nasil gozukecegini belirler*/
    color:#18191A;
}
nav ul ul{
    position: absolute;/*ozelligi olan bir eleman en yakin pozisyon degeri relative olan elemana gore kendini konumlandirir.
     Eger position:relative; ozelligine sahip bir ebeveyni yoksa belgeye gore kendini konumlandiracaktir.*/
    top: 100px;
    border-top: 10px;
    opacity: 0;
    visibility: hidden;/*visibility: hidden sadece gorunmez olmasini saglar, elemanin ozellikleri oldugu gibi durur.*/
}
nav ul li:hover>ul{
top: 70px;
opacity: 1;
visibility: visible;/* bir belgenin duzenini degistirmeden bir ogeyi gosterir veya gizler.*/
transition: 0.3s linear;
}
nav ul ul li{
    width: 500px;
    display: list-item;
    position: relative;
    border:  1px;
    border-top: none;
}
nav ul ul li a{
    line-height: 60px;
}
nav ul ul ul{
    border-top: none;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}
nav ul ul li a li{
    margin-left: 45px;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--side-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
    
}

