p{
    font-family:'Didact Gothic', sans-serif ;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;
}
h3{

    margin-left: 400px;
    margin-right: 100px;
}